KVM/KVM/ConfigAutomation/ConfigAutomation/Web References/SIEWS/INT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CallIntV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imei" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="processStep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lineType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallIntVResult" type="tns:IntV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IntV">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Board" type="tns:BoardInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="TesterName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessStep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OkToTestMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OkToTest" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LineType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChildDateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BoardInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Wip_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Division" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Assembly" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChildNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Child" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChildDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Assembly_ID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Revision" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="CallIntVByLinkedData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="linkData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="linkObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imei" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="processStep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lineType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntVByLinkedDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallIntVByLinkedDataResult" type="tns:IntV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="processStep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imei" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallIntPResult" type="tns:IntP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IntP">
        <s:complexContent mixed="false">
          <s:extension base="tns:IntParser" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="IntParser" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TesterName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessStep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendResult" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SendErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CallIntPByLinkedData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="linkData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="linkObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="processStep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntPByLinkedDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallIntPByLinkedDataResult" type="tns:IntP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="processStep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="failLabel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="failMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imei" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallIntFResult" type="tns:IntF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IntF">
        <s:complexContent mixed="false">
          <s:extension base="tns:IntParser">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FailMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FailLabel" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CallIntFByLinkedData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="linkData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="linkObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="processStep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="failLabel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="failMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntFByLinkedDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallIntFByLinkedDataResult" type="tns:IntF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="linkStep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="linkRoute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="linkCollection" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallIntCResult" type="tns:IntC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IntC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Links" type="tns:ArrayOfIntCLinkItem" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkStep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkRoute" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LinkResult" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIntCLinkItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IntCLinkItem" nillable="true" type="tns:IntCLinkItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IntCLinkItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LinkData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkObject" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CallIntConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imei" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallIntConfigResult" type="tns:IntConfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IntConfig">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Revision" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsScanIMEI" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="OkToConfigMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OkToConfig" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfigExe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfigFolder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfigFile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfigCommandLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfigArgs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMEISwitch" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CallIntConfigR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntConfigRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallIntConfigRResult" type="tns:IntConfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntTestDone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="processStep" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDateTimeUTC" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDateTimeUTC" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="testResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallIntTestDoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CallIntTestDoneResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkConfigData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipaddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkConfigDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLinkConfigDataResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="family" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sku" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imei" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ANATEL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCC" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CE" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="CE1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CE2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CMIITID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CNC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CUSTOMERPN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="d_1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DELLREV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DELLSKU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FCCID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FRU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FRU_PN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="G_3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Header_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ICASA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IFT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Japan_R" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Japan_T" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lenovo_PN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="m_0" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="m_1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MFGID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PRODUCTNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="R" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="R1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="REV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RUC_USMark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="T" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="T1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Text1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Text2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRA1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRA2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UKR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VendorID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPOTapeAndReel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="revision" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isrma" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPOTapeAndReelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPOTapeAndReelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CallIntVSoapIn">
    <wsdl:part name="parameters" element="tns:CallIntV" />
  </wsdl:message>
  <wsdl:message name="CallIntVSoapOut">
    <wsdl:part name="parameters" element="tns:CallIntVResponse" />
  </wsdl:message>
  <wsdl:message name="CallIntVByLinkedDataSoapIn">
    <wsdl:part name="parameters" element="tns:CallIntVByLinkedData" />
  </wsdl:message>
  <wsdl:message name="CallIntVByLinkedDataSoapOut">
    <wsdl:part name="parameters" element="tns:CallIntVByLinkedDataResponse" />
  </wsdl:message>
  <wsdl:message name="CallIntPSoapIn">
    <wsdl:part name="parameters" element="tns:CallIntP" />
  </wsdl:message>
  <wsdl:message name="CallIntPSoapOut">
    <wsdl:part name="parameters" element="tns:CallIntPResponse" />
  </wsdl:message>
  <wsdl:message name="CallIntPByLinkedDataSoapIn">
    <wsdl:part name="parameters" element="tns:CallIntPByLinkedData" />
  </wsdl:message>
  <wsdl:message name="CallIntPByLinkedDataSoapOut">
    <wsdl:part name="parameters" element="tns:CallIntPByLinkedDataResponse" />
  </wsdl:message>
  <wsdl:message name="CallIntFSoapIn">
    <wsdl:part name="parameters" element="tns:CallIntF" />
  </wsdl:message>
  <wsdl:message name="CallIntFSoapOut">
    <wsdl:part name="parameters" element="tns:CallIntFResponse" />
  </wsdl:message>
  <wsdl:message name="CallIntFByLinkedDataSoapIn">
    <wsdl:part name="parameters" element="tns:CallIntFByLinkedData" />
  </wsdl:message>
  <wsdl:message name="CallIntFByLinkedDataSoapOut">
    <wsdl:part name="parameters" element="tns:CallIntFByLinkedDataResponse" />
  </wsdl:message>
  <wsdl:message name="CallIntCSoapIn">
    <wsdl:part name="parameters" element="tns:CallIntC" />
  </wsdl:message>
  <wsdl:message name="CallIntCSoapOut">
    <wsdl:part name="parameters" element="tns:CallIntCResponse" />
  </wsdl:message>
  <wsdl:message name="CallIntConfigSoapIn">
    <wsdl:part name="parameters" element="tns:CallIntConfig" />
  </wsdl:message>
  <wsdl:message name="CallIntConfigSoapOut">
    <wsdl:part name="parameters" element="tns:CallIntConfigResponse" />
  </wsdl:message>
  <wsdl:message name="CallIntConfigRSoapIn">
    <wsdl:part name="parameters" element="tns:CallIntConfigR" />
  </wsdl:message>
  <wsdl:message name="CallIntConfigRSoapOut">
    <wsdl:part name="parameters" element="tns:CallIntConfigRResponse" />
  </wsdl:message>
  <wsdl:message name="CallIntTestDoneSoapIn">
    <wsdl:part name="parameters" element="tns:CallIntTestDone" />
  </wsdl:message>
  <wsdl:message name="CallIntTestDoneSoapOut">
    <wsdl:part name="parameters" element="tns:CallIntTestDoneResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinkConfigDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinkConfigData" />
  </wsdl:message>
  <wsdl:message name="GetLinkConfigDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkConfigDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetPOTapeAndReelSoapIn">
    <wsdl:part name="parameters" element="tns:GetPOTapeAndReel" />
  </wsdl:message>
  <wsdl:message name="GetPOTapeAndReelSoapOut">
    <wsdl:part name="parameters" element="tns:GetPOTapeAndReelResponse" />
  </wsdl:message>
  <wsdl:portType name="INTSoap">
    <wsdl:operation name="CallIntV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check Process Verification (PV - MES) from input FSN.</wsdl:documentation>
      <wsdl:input message="tns:CallIntVSoapIn" />
      <wsdl:output message="tns:CallIntVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallIntVByLinkedData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check Process Verification (PV - MES) from input unique link data (IMEI, CSN, ...).</wsdl:documentation>
      <wsdl:input message="tns:CallIntVByLinkedDataSoapIn" />
      <wsdl:output message="tns:CallIntVByLinkedDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallIntP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate Generic log file (MES Parser) with PASS result from input FSN.</wsdl:documentation>
      <wsdl:input message="tns:CallIntPSoapIn" />
      <wsdl:output message="tns:CallIntPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallIntPByLinkedData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate Generic log file (MES Parser) with PASS result from input unique link data (IMEI, CSN, ...).</wsdl:documentation>
      <wsdl:input message="tns:CallIntPByLinkedDataSoapIn" />
      <wsdl:output message="tns:CallIntPByLinkedDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallIntF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate Generic log file (MES Parser) with FAILED result from input FSN.</wsdl:documentation>
      <wsdl:input message="tns:CallIntFSoapIn" />
      <wsdl:output message="tns:CallIntFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallIntFByLinkedData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate Generic log file (MES Parser) with FAILED result from input unique link data (IMEI, CSN, ...).</wsdl:documentation>
      <wsdl:input message="tns:CallIntFByLinkedDataSoapIn" />
      <wsdl:output message="tns:CallIntFByLinkedDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallIntC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check Process Verification (PV - MES), not in used.</wsdl:documentation>
      <wsdl:input message="tns:CallIntCSoapIn" />
      <wsdl:output message="tns:CallIntCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallIntConfig">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check Process Verification (PV - MES), verify input FSN is matched with IMEI, return CONFIG command line to execute FACT (Factory Configuration tool).</wsdl:documentation>
      <wsdl:input message="tns:CallIntConfigSoapIn" />
      <wsdl:output message="tns:CallIntConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallIntConfigR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check Process Verification (PV - MES), require IMEI scanning or not (SKU Portal) and return IMEI (MES).</wsdl:documentation>
      <wsdl:input message="tns:CallIntConfigRSoapIn" />
      <wsdl:output message="tns:CallIntConfigRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallIntTestDone">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Record test results (start/ end date time, test result (Pass/ Failed/ Abort), ...) with input FSN.</wsdl:documentation>
      <wsdl:input message="tns:CallIntTestDoneSoapIn" />
      <wsdl:output message="tns:CallIntTestDoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinkConfigData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Link Data at Link Config station (IMEI), assembly (SKU) information and properties in MES from input FSN.</wsdl:documentation>
      <wsdl:input message="tns:GetLinkConfigDataSoapIn" />
      <wsdl:output message="tns:GetLinkConfigDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPOTapeAndReel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return list of active POs from SKU Portal from input SKU Number, SKU Revision.</wsdl:documentation>
      <wsdl:input message="tns:GetPOTapeAndReelSoapIn" />
      <wsdl:output message="tns:GetPOTapeAndReelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="INTSoap" type="tns:INTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallIntV">
      <soap:operation soapAction="http://tempuri.org/CallIntV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntVByLinkedData">
      <soap:operation soapAction="http://tempuri.org/CallIntVByLinkedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntP">
      <soap:operation soapAction="http://tempuri.org/CallIntP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntPByLinkedData">
      <soap:operation soapAction="http://tempuri.org/CallIntPByLinkedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntF">
      <soap:operation soapAction="http://tempuri.org/CallIntF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntFByLinkedData">
      <soap:operation soapAction="http://tempuri.org/CallIntFByLinkedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntC">
      <soap:operation soapAction="http://tempuri.org/CallIntC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntConfig">
      <soap:operation soapAction="http://tempuri.org/CallIntConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntConfigR">
      <soap:operation soapAction="http://tempuri.org/CallIntConfigR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntTestDone">
      <soap:operation soapAction="http://tempuri.org/CallIntTestDone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkConfigData">
      <soap:operation soapAction="http://tempuri.org/GetLinkConfigData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPOTapeAndReel">
      <soap:operation soapAction="http://tempuri.org/GetPOTapeAndReel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="INTSoap12" type="tns:INTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallIntV">
      <soap12:operation soapAction="http://tempuri.org/CallIntV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntVByLinkedData">
      <soap12:operation soapAction="http://tempuri.org/CallIntVByLinkedData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntP">
      <soap12:operation soapAction="http://tempuri.org/CallIntP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntPByLinkedData">
      <soap12:operation soapAction="http://tempuri.org/CallIntPByLinkedData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntF">
      <soap12:operation soapAction="http://tempuri.org/CallIntF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntFByLinkedData">
      <soap12:operation soapAction="http://tempuri.org/CallIntFByLinkedData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntC">
      <soap12:operation soapAction="http://tempuri.org/CallIntC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntConfig">
      <soap12:operation soapAction="http://tempuri.org/CallIntConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntConfigR">
      <soap12:operation soapAction="http://tempuri.org/CallIntConfigR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallIntTestDone">
      <soap12:operation soapAction="http://tempuri.org/CallIntTestDone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkConfigData">
      <soap12:operation soapAction="http://tempuri.org/GetLinkConfigData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPOTapeAndReel">
      <soap12:operation soapAction="http://tempuri.org/GetPOTapeAndReel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="INT">
    <wsdl:port name="INTSoap" binding="tns:INTSoap">
      <soap:address location="http://10.124.16.163/SIE-INT/INT.asmx" />
    </wsdl:port>
    <wsdl:port name="INTSoap12" binding="tns:INTSoap12">
      <soap12:address location="http://10.124.16.163/SIE-INT/INT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>